
<div style="padding-top: 80px;" class="container">


    <title>{{lyrica.song}}</title>


<iframe id="existing-iframe-example"
          width="320" height="180"
          src="https://www.youtube.com/embed/{{lyrica.link}}?autoplay=1"
          frameborder="0"
          style=" margin: 30px; border: solid 4px #37474F"
></iframe>

<div class="tenor-gif-embed" data-postid="7824812" data-share-method="host" data-aspect-ratio="1" data-width="30%"><a href="https://tenor.com/view/music-emoji-headset-gif-7824812">Music Emoji GIF</a>from <a href="https://tenor.com/search/music-gifs">Music GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<h1>{{lyrica.song}}</h1>
<h4>{{lyrica.name}}</h4>
<h3>{{lyrica.lyrics}}</h3>

</div>